<!DOCTYPE html>
<html>
<head>
  <title>SUPER VOICES</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="shortcut icon" href="<%= image_path('index/images/SUPER_VOICES_ICON.png') %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
